<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gregoryesrig24.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".splashscreen"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ResetPasswordActivity"
            android:label="@string/title_activity_reset_password"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".UserIdentification"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="UserIdentification" />
        <activity
            android:name=".GiveProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="GiveProfile" />
        <activity
            android:name=".GetProfile"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="GetProfile" />
        <activity
            android:name=".SelectionActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="SelectionActivity" />
        <activity
            android:name=".MapActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="MapActivity" />
        <activity
            android:name=".FoodActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="MapActivity" />
        <activity
            android:name=".ClothesActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="ClothesActivity" />
        <activity
            android:name=".ToyActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:label="ToyActivity" />
    </application>

</manifest>